<!-- <div>
    <button routerLink="/Principal">Principal</button>
    <button (click)="Juego('Adivina')">Adivina</button>
    <button (click)="Juego('Agilidad')">Agilidad</button>
    <button (click)="Juego('AdivinaMasListado')">Adivina+listado</button>
    <button (click)="Juego('AgilidadaMasListado')">Agilidad+listado</button>  
    <button routerLink="/error">Error</button>
  
</div> -->

<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/Principal">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mis datos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Salir</a>
    </li>
  </ul>
</div>
  <div>
    <ul class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a routerLink="/Juegos">Juegos</a></li>
      <li class="breadcrumb-item"><a routerLink="/Juegos/Adivina">Adivina</a></li>
      <li class="breadcrumb-item"><a routerLink="/Juegos/Agilidad">Agilidad</a></li>
      <li class="breadcrumb-item"><a routerLink="/Juegos/AdivinaMasListado">Adivina+listado</a></li>
      <li class="breadcrumb-item"><a routerLink="/Juegos/AgilidadMasListado">Agilidad+listado</a></li>
    </ul>
  </div>
    