  <div>
    <ul class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a routerLink="/Juegos/Card">Juegos</a></li>
      <li class="breadcrumb-item"><a routerLink="/Juegos/Adivina">Adivina</a></li>
      <li class="breadcrumb-item"><a routerLink="/Juegos/Agilidad">Agilidad</a></li>
      <li class="breadcrumb-item"><a routerLink="/Juegos/AdivinaMasListado">Adivina+listado</a></li>
      <li class="breadcrumb-item"><a routerLink="/Juegos/AgilidadMasListado">Agilidad+listado</a></li>
    </ul>
  </div>
    