.imagenDeMenu{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 2em;
    vertical-align: middle;
}
    
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

.cab {
    height: 50px;
    background-color: darkslategrey;
}

a {
    text-decoration: none;
    color: darkblue;
}

p {
    color: #100000;
}