<form name="juego">
    <ul>
        <div style="text-align:center">
            <h1> {{nuevoJuego.nombre}}! </h1>
        </div>
      <div>

        <h2 [hidden]="!jugando" ><span>{{nuevoJuego.primerNumero}} {{nuevoJuego.operador}} {{nuevoJuego.segundoNumero}} = </span></h2>

      </div>

      <div>
      
        <h2 [hidden]="!jugando"> Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%"/></h2>
         
      </div>

      <div>

        <h2 [hidden]="ocultarVerificar" ><button (click)="verificar()" class="btn btn-success btn-lg">Verificar {{Tiempo}} </button></h2> <br>

      </div>

      <div>

        <div [hidden]="!ocultarVerificar" style="text-align:center"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo Juego </button></div>

      </div>
      
      <div>
        <!-- <h2><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>
    
        <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
        <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3> -->
        </div>
    </ul>
    
    </form>