       <!-- <p>Sebastian Pasquini</p>
        <a href="https://github.com/seba0413"target="_blank">en GitHub <i class="fa fa-github"></i></a>
        <a  routerLink="/QuienSoy" >Quien Soy? <i class="fa fa-user"></i></a>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a routerLink="/Registro">Registrarse</a></li>
                <li><a  routerLink="/Login"> Ingresar</a></li>
            </ul>
        </div>
    </nav>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                    <a class="nav-link" href="#">Ingresar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Registrarse <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/seba0413">GitHub <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/QuienSoy">Quien Soy</a>
            </li>
          </ul>
        </div>
      </nav>

<div class="panel panel-default">
    <div class="hero-text">
        <h1 style="font-size:50px">Sala de Juegos</h1>
    </div>
</div>s